.home {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	height: 100vh;

	& > .logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 10;
	}

	& > .container {
		z-index: 10;

		& > .title {
			font-size: 54px;
			line-height: 66px;
			text-align: center;
			margin-bottom: 26px;
		}

		& > .description {
			font-size: 24px;
			line-height: 29px;
			letter-spacing: 0.15em;
			text-align: center;
			opacity: 0;
		}
	}

	& > .hint {
		z-index: 20;
		position: absolute;
		bottom: 100px;
		text-align: center;
		opacity: 0;
	}
}
