.home {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 250px;
	border-radius: 100px;
	color: var(--yellow);
	background-color: var(--tangerine);
	margin: 0 auto;
	margin-top: 200px;
	margin-bottom: 200px;
	line-height: 32px;
	font-weight: 300;
	text-align: center;
}
