.card01 {
	& > .image {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-top: 100%;
		background-size: cover;
		background-position: center;
	}

	& > .title {
		font-size: 18px;
		line-height: 21px;
		letter-spacing: 0.1em;
		margin-top: 12px;
	}

	& > .description {
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.1em;
		margin-top: 8px;
		opacity: 0.3;
	}
}
